<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <% let i = 1 %>
        <% while(i<=100) { %>
           <li><%= i %></li>
           <% i++ %>
            <% } %>
    </ul>
</body>
  <%- include('footer') %>
</html>