<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <h3>Fill the form</h3>
    <form action="/login" method="post">
        <input type="text" name="name" value="Name">
        <input type="password" name="password" value="Password">
        <input type='submit'>
    </form>  
</body>
  <%- include('footer') %>
</html>