<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde assumenda soluta itaque eligendi ipsa excepturi, cum accusantium libero iusto aut est placeat distinctio, ullam ex laborum deleniti nihil dolorem!</p>
    <!-- <form action="/login" method="post">
        <input type='submit' value="Login">
    </form> -->
    <button onclick="fun()">login</button>
</body>
  
  <script>
      function fun(){
        window.location.href='/login';  
      }
  </script> 

</html>